.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    height: 80vh;
}
.keyboardContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}
.keyboard {
    height: 10%;
    width: 100%;
    font-size: 3vh;
}