.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    height: 50vh;
}
.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    height: 100vh;
}
.title {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}
#title{
    font-family: sans-serif;
}
#imgCont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#img{
    padding-top: 5vh;
    height: 100%;
}
.keyboardContainer2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 50%;
}
.keyboard1 {
    height: 5%;
    margin-bottom: 5vh;
    width: 100%;
    font-size: 3vh;
}
.keyboard2 {
    display: flex;
    height: 30%;
    margin-bottom: 5vh;
    width: 100%;
    font-size: 3vh;
}
#toggle {
    height: 10%;
    width: 10vw;
    font-size: 100%;
    font-family: sans-serif;
}

@media screen and (max-width: 980px){
    #toggle {
        width: 40vw
    }
}